$primary: #6769F0;
$primary_hover: #6552E1;

$secondary: #f8e71c;
$secondary_hover: #f5a623;
$secondary_gradient: linear-gradient(132deg, $secondary 0%, $secondary_hover 100%);

$tertiary: #050A24;
$tertiary_hover: #050b23;
